h1 {	
				font-size: 3em;
				background-color: #004B97;
				color: white;
				margin: 0;
				padding: 5px;
				text-align: center;
		}
		table {
			background-color: #e0e0e0;
			height: 70px;
			width: 90%;
		}
		thead {
			height: 70px;
			width: 800px;
			font-size: 24px;
			background-color: #004B97;
			color: #FFFFFF;
		}
		a {
			color: black;
			text-decoration: none;
		}
		.home {
			margin: 10px;
			padding: 10px;
			font-size: 16px;
			background-color: #004B97;
			color: #FFFFFF;
			border:none;
			border-radius:10px;
			text-decoration: none;
		}
		